.root {
  max-width: 1366px;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
}

table tr:nth-child(even) {
  background: #f2f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table td {
  padding: 0.33rem 0.66rem;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
}

.buttonDisabled{
  background-color: #ccc;
  cursor: default;
  border: none;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1rem;
}
